@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    ul{
        width: 100%;
    }
    header {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    
    header #logo {
        margin: auto;
    }
    
    header nav ul {
        margin: 0px -20px;
        padding: 0;
        border-top: none;
        padding-top: 15px;
    }
    .li-one{
        padding: 0px;
    }
    .li-two{
        padding: 0px;
    }
    .li-one .hebergement {
        margin-right: 35px;
    }
    .li-one .hebergement:active,
    .li-one .hebergement:focus,
    .li-one .hebergement:hover{
        border-top: none;
    }

    .li-two .activite:active,
    .li-two .activite:focus,
    .li-two .activite:hover{
        border-top: none;
    }
    
    /* Me sert a mettre ma barre grise en dessous de hebergements et activités et aussi a pouvoir la mettre en bleu */
    header nav ul li {
        width: 50%;
        text-align: center;
        margin: 0px;
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
        /* padding: 15px; */
    }
    header nav ul li:hover {
        border-color: #0065fc;
      }
      
    header nav ul li:hover a {
        color: #0065fc;
    }
      
    form{
        margin-left: 0;
        width: 97%;
    }
    input{
        width: inherit;
    }
    button{
        display: none;
    }
    .formu{
        padding-left: 20px;
    }
    .responsiv{
        display: block;
        background-color: #0065FC;
        width: 50px;
        border-radius: 15px;
    }
    .iSearch{
        color: white;
    }
    .info{
        padding-left: 25px;
    }
    main{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .article{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .article article{
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        padding: 8px;
    }
    
   .filtre h3{
      margin-right: 15px;
   }
   .filtre{
       flex-direction: column;
       align-items: flex-start;
        width: max-content;
        padding-left: 20px;
   }
   .mobil{
       display: flex;
       flex-direction: row;
   }
   .filtre p{
       margin-left: 0;
       padding-left: 50px;
   }
   .pet{
      width: max-content;
   }
   .titre{
    background-color: white;
    padding-left: 0px;
    width: 89%;
    padding: 0px;
    padding-right: 17px;
   }
   .titre h2{
       margin-left: 4px;
   }
   .populaire{
       margin-left: 0%;
       width: 100%;
       order: 1;
       border-radius: 0px;
   }
  
   .titre-populaire p{
        white-space: pre;
   }
   .finBloc{
    padding-left: 1%;
   }
   .tout{
       height: 140px;
       width: 90%;
        margin-bottom: 3%;
        padding-left: 0px;
    }
   .desc{
       margin-left: 15px;
   }
   .desc p{
       padding-bottom: 10%;
   }
   .descArt1 {
       margin-top: 0px;
   }
   
   .img-pop{
    object-fit: cover;
    width: 160px;
   }

   article{
       width: 27%;
   }
   #activiter{
       order: -1;
       padding-left: 0px;
   }
   #activiter h2{
        padding-left: 4.2%;
   }
   .allCarte{
       flex-direction: column;
       align-items: center;
       height: max-content;
   }
   .carte{
        width: 91%;
        margin-bottom: 30px;
   }
   .activ{
        width: 100%;
        align-items: center;
   }
   .bis{
        height: 245px;
   }
   article.carte.pomegue{
        height: 245px;
    }
    article.carte.frioul{
        height: 245px;
    }
    article.carte.longchamp {
        height: 245px;
    }
    article.carte.garde {
        height: 245px;
    }
   .bold{
        padding-top: 0px;
        padding-bottom: 15px;
   }
   .calanque .bold{
        margin-top: 10px;
   }
   footer{
       flex-direction: column;
       align-items: start;
       width: 100%;
   }
   .propo{
    padding-left: 35px;
   }
   .heberge{
    padding-left: 35px;
   }
   .assist{
    padding-left: 35px;
   }
}