@media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    ul{
        width: 100%;
    }
    header {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    
    header #logo {
        margin: auto;
    }
    
    header nav ul {
        margin: 0px -20px;
        padding: 0;
        border-top: none;
        padding-top: 15px;
    }
    .li-one{
        padding: 0px;
    }
    .li-two{
        padding: 0px;
    }
    .li-one .hebergement {
        margin-right: 35px;
    }
    .li-one .hebergement:active,
    .li-one .hebergement:focus{
        border-top: none;
    }

    .li-two .activite:active,
    .li-two .activite:focus{
        border-top: none;
    }
    
    
    header nav ul li {
        width: 50%;
        text-align: center;
        margin: 0px;
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
        padding: 15px;
    }
    header nav ul li:hover {
        border-color: #0065fc;
      }
      
      header nav ul li:hover a {
        color: #0065fc;
      }
      
    /* A NE PAS SUPPRIMER !!!!!! */

    /* .li-one .hebergement{
        border-bottom: 2px solid black;
        margin-right: 0px;
        
    }
    .li-one .hebergement:focus{
        border-top: none;
        
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        
    }
    .li-one .hebergement:active{
        border-bottom: 2px solid #0065FC;
        border-top: none;
        color: #0065FC;
    }

    .li-two .activite{
        border-bottom: 2px solid black;
        margin-left: 0px;
    }

    .li-two .activite:focus{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }

    .li-two .activite:active{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    } */

    form{
        margin-left: 0;
        width: 97%;
    }
    input{
        width: inherit;
    }
    button{
        display: none;
    }
    .formu{
        padding-left: 20px;
    }
    .responsiv{
        display: block;
        background-color: #0065FC;
        width: 50px;
        border-radius: 15px;
    }
    
    .iSearch{
        color: white;
    }
    main{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .article{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .article article{
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        padding: 8px;
    }
    

   .filtre h3{
      margin-right: 15px;
   }
   .filtre{
       flex-direction: column;
       align-items: flex-start;
        width: max-content;
        padding-left: 20px;
   }
   .mobil{
       display: flex;
       flex-direction: row;
   }
   .filtre p{
       margin-left: 0;
       padding-left: 50px;
   }
   .pet{
      width: max-content;
   }
   .titre{
    background-color: white;
    padding-left: 0px;
    width: 89%;
    padding: 0px;
    padding-right: 17px;
   }
   .titre h2{
       margin-left: 4px;
   }
   .populaire{
       margin-left: 0%;
       width: 100%;
       order: 1;
       border-radius: 0px;
   }
  
   .titre-populaire p{
        white-space: pre;
   }
   .finBloc{
    padding-left: 1%;
   }
   .tout{
       height: 149px;
       width: 90%;
        margin-bottom: 3%;
        padding-left: 0px;
        
    }
   .desc{
       margin-left: 20px;
   }
   .desc p{
       /* margin-bottom: 0px; */
       padding-bottom: 8%;
   }
   .descArt1 {
       margin-top: 0px;
   }
   
   .img-pop{
    object-fit: cover;
    height: 150px;
    width: 160px;
   }

   article{
       width: 27%;
   }
   #activiter{
       order: -1;
       padding-left: 0px;
   }
   #activiter h2{
        padding-left: 4.2%;
   }
   .allCarte{
       flex-direction: column;
       align-items: center;
       height: max-content;
   }
   .carte{
        width: 91%;
        margin-bottom: 30px;
   }
   .activ{
        width: 100%;
        align-items: center;
   }
   .bis{
        height: 245px;
   }
   article.carte.pomegue{
        height: 245px;
    }
    article.carte.frioul{
        height: 245px;
    }
    article.carte.longchamp {
        height: 245px;
    }
    article.carte.garde {
        height: 245px;
    }
   .bold{
        padding-top: 0px;
        padding-bottom: 15px;
   }
   .calanque .bold{
        margin-top: 10px;
   }
   /* .act1{
    width: -webkit-fill-available;
    height: 139px;
    object-fit: cover;
   }
   .act2{
    width: -webkit-fill-available;
    height: 139px;
    object-fit: cover;
   }
   .act3{
    width: -webkit-fill-available;
    height: 139px;
    object-fit: cover;
   }
   .act4{
    width: -webkit-fill-available;
    height: 139px;
    object-fit: cover;
   }
   .act5{
    width: -webkit-fill-available;
    height: 139px;
    object-fit: cover;
   }
   .act6{
    width: -webkit-fill-available;
    height: 139px;
    object-fit: cover;
   } */
   footer{
       flex-direction: column;
       align-items: start;
       width: 100%;
   }
   .propo{
    padding-left: 35px;
   }
   .heberge{
    padding-left: 35px;
   }
   .assist{
    padding-left: 35px;
   }
}

/* @media screen and (max-width: 565px) {
    header{
      
        padding-left: 10px;
        padding-right: 10px;
    }
    main{
        margin: 0;
       
        padding-left: 0px;
        align-items: baseline;

    }
    
    form{
        width: 98%;
        margin-left: 0px;
        
    }
    input{
        width: inherit;
    }
    
    .titre{
        width: 74%;
        padding-left: 18px;
    }
    .titre h2{
        margin-left: 56px;
    }
    .populaire{
        width: 100%;
        margin-left: 0px;
    }
    
    .article{
        width: 86%;
        
        padding-left: 14px;
    }
    .article article{
        width: 135%;
        
    }
    .act1{
        height: 162px;
    }
    .act2{
        height: 162px;
    }
    .act3{
        height: 162px;
    }
    .act4{
        height: 162px;
    }
    .act5{
        height: 162px;
    }
    .act6{
        height: 162px;
    }
    #activiter h2{
        margin-left: 32px;
    }
    #activiter{
        padding-left: 4px;
        width: 100%;
    }
    .allCarte{
        align-items: baseline;
        width: 100%;
        padding-left: 29px;
    }
    .activ{
        align-items: baseline;
    }
    #iconBlack{
        margin-left: 215px;
    }
    .tout{
        margin-bottom: 10px;
        width: 85%;
        margin-left: 33px;
    }
    .finBloc{
        margin-left: 20px;
    }
    .descArt{
        margin-left: 5px;
    }
    .nuitA{
        margin-left: 5px;
    }

    .carte{
        width: 88%;
    }
    footer{
        width: 101%;
    }
}

@media screen and (max-width: 536px){
    body{
        overflow-x: hidden;
    }
    nav{
        margin-left: 15px;
    }
    form{
        width: 99%;
        margin-left: 0px;
    }
    input{
        width: inherit;
    }
    .article{
        margin-left: -12px;
    }
    .article article{
        width: 139%;
    }
    
    .titre h2{
        margin-left: 7px;
    }
    .finBloc{
        margin-left: 20px;
    }
    .allCarte{
       padding-left: 0px;
    }
    .carte{
        width: 92%;
        margin-left: 16px;
    }
    .populaire{
        margin: 0;
        width: 100%;
        
    }
    .tout{
        margin-left: 22px;
    }
    #activiter h2{
        margin-left: 25px;
    }
    #iconBlack{
        margin-left: 164px;
    }
} */
/* @media screen and (max-width: 521px){
    nav{
        margin-left: 25px;
    }
    form{
        width: max-content;
        margin-left: 0px;
    }
    input{
        width: 380px;
    }
    .titre{
        width: 50%;
    }
    .titre h2{
        width: max-content;
        margin-left: 18px;
    }
    .article{
        margin-left: 0px;
    }
    .article article{
        width: 200%;
        padding: 8px;
    }
    #iconBlack{
        margin-left: 170px;
    }
    .finBloc{
        margin-left: 10px;
    }
    #activiter h2{
        margin-left: 22px;
    }
} */
/* @media screen and (max-width: 505px){
    form{
        width: max-content;
        margin-left: 0px;
    }
    input{
        width: 370px;
    }
    .populaire h2{
        margin-left: 0;
    }
    
} */

/* @media screen and (max-width: 490px){
    
    nav{
        margin-left: 0px;
    }
    form{
        width: max-content;
        margin-left: 0px;
    }
    input{
        width: 360px;
    }
    .article article{
        padding: 8px;
        margin-left: -32px;
        width: 191%;
    }
    .titre{
        padding-left: 55px;
    }
    .titre h2{
        margin-left: -12px;
    }
    .populaire h2{
        margin-left: 10px;
    }
    .finBloc{
        margin-left: -14px;
    }
    #activiter{
        width: 112%;
        padding-left: 54px;
    }
    #activiter h2{
        margin-left: -15px;
    }
    .carte{
        width: 76%;
        margin-left: -20px;
    }
    footer{
        width: 106%;
    }
} */
/* @media screen and (max-width: 468px){
    
    form{
        width: max-content;
    }
    
    input{
        width: 350px;
    }
    .titre{
        width: 56%;
        padding-left: 44px;
    }
    .titre h2{
        margin-left: -5px;
    }
    .finBloc{
        margin-left: -4px;
    }
    .populaire{
        margin-left: 1px;
        width: 100%;
    }
    .article article{
        width: 169%;
        margin-left: -22px;
    }
    
    footer{
        width: 111%;
    }
} */

/* @media screen and (max-width: 460px){
    nav{
        margin-left: -1px;
    }
    .info{
        width: 84%;
    }
    form{
        width: max-content;
    }
    input{
        width: 320px;
    }
    .tout{
        width: 86%;
        margin-left: -12px;
    }
    .titre{
        padding-left: 20px;
    }
    ul{
        
        width: 116%;
    }
    .hebergement{
        margin-right: -22px;
    }
    .titre h2{
        margin-left: 20px;
        width: max-content;
        margin-bottom: 24px;
    }
    .article article{
        width: 168%;
        margin-left: 0px;
    }
    .populaire h2{
        margin-left: -50px;
    }
    #iconBlack{
        margin-left: 118px;
    }
    .finBloc{
        margin-left: 20px;
    }
    #activiter{
        padding-left: 76px;
    }
    #activiter h2{
        margin-left: -37px;
    }
    .allCarte{
        margin-left: -24px;
    }
} */

/* @media screen and (max-width: 442px){
    header{
        width: min-content;
        margin-left: 15px;
    }
    nav{
        margin-left: 20px;
    }
    form{
        width: max-content;
        margin-left: 3px;
    }
    ul{
        width: 100%;
    }
    
    .hebergement{
        margin-right: 15px;
    }
    .activite{
        margin-left: 35px;
    }
    .formu{
        margin-left: -13px;
    }
    input{
        width: 295px;
    }
    .tout{
        width: 86%;
        margin-left: -12px;
    }
    .populaire{
        width: 102%;
        margin-left: 0px;
    }
    .populaire h2{
        margin-left: -19px;
    }
   
    .titre{
        margin-left: -7px;
    }
    .titre h2{
        margin-left: 18px;
    }
    .finBloc{
        margin-left: 19px;
    }
    
    .article article{
        width: 175%;
    }
    .carte{
        width: 78%;
        margin-left: -41px;
    }
    .allCarte{
        margin-left: -7px
    }
    #activiter h2{
        margin-left: -44px;
    }
    footer{
        width: 118%;
    }
} */


/* version Responsive: iPhone XR */
/* @media screen and (max-width: 415px){
    nav{
        margin-left: 0px;
        padding-left: 15px;
    }
    form{
        margin-left: 0px;
    }
    input{
        width: 273px;
    }
    .titre{
        margin-left: -19px;
    }
    .tout{
        width: 87%;
        margin-left: -9px;
    }
    .img-pop{
        width: 150px;
    }
    .desc{
        margin-left: 4px;
    }
    #activiter{
        padding-left: 63px;
    }
} */

/* @media screen and (max-width: 411px){
    nav{
        margin-left: 18px;
    }
    form{
        max-width: max-content;
        margin-left: -7px;
    }
    input{
        width: 250px;
    }
    .formu{
        margin-left: 13px;
    }
    .hebergement{
        margin-right: 33px;
    }
    .activite{
        margin-left: 50px;
    }
    .article article{
        width: 166%;
        margin-left: -42px;
    }
    .titre h2{
        margin-left: 25px;
    }
    .finBloc{
        margin-left: 25px;
    }
    .article{
        margin-left: 52px;
    }
    .populaire{
        width: 115%;
        margin-left: -30px;
    }
    .tout{
        width: 80%;
        margin-left: 0px;
        padding: 8px;
    }
    .populaire h2{
        margin-left: -5px;
    }
    .carte{
        margin-left: -31px;
        width: 75%;
    }
    #activiter h2{
        margin-left: -38px;
    }
    #iconBlack{
        margin-left: 122px;
    }
    .desc{
        margin-left: 8px;

    }
    
    footer{
        width: 122%;
    }
} */

/* Responsive iPhone 12 Pro */
/* @media screen and (max-width: 391px){
    header{
        margin-left: 5px;
    }
    nav{
        margin-left: 27px;
    }
    form{
        margin-left: -5px;
    }
    .formu{
        margin-left: 4px;
    }
    .tout{
        width: 80%;
    }
    .titre{
        margin-left: -13px;
    }
    .img-pop{
        width: 133px;
        object-fit: cover;
    }
    .finBloc{
        margin-left: 23px;
    }
    
    .titre h2{
        margin-left: 26px;
    }
    .article{
        margin-left: 47px;
    }
    .populaire{
        width: 115%;
        margin-left: -26px;
    }
    .populaire h2{
        margin-left: 0px;
    }
    #iconBlack{
        margin-left: 100px;
    }
    #activiter{
        padding-left: 72px;
    }
    .desc{
        margin-left: 7px;
    }
    .allCarte{
        margin-left: -11px;
    }
    .hebergement{
        margin-right: 17px;
    }
    .activite{
        margin-left: 16px;
        padding-left: 10px;
    }
} */

/* Responsive iPhone SE */

/* @media screen and (max-width: 376px){
    nav{
        margin-left: 7px;
    }
    .formu{
        margin-left: 0px;
    }
    .tout{
        width: 80%;
        margin-left: 12px;
    }
    .img-pop{
        width: 125px;
    }
} */