body{
    padding: 0;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

/* HEADER ET NAV */
header{
    padding-left: 35px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.logo{
    width: 100px;  
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin-right: 75px;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* BARRE BLEU AU DESSUS DE HEBERGEMENTS ET ACTIVITER */
.li-one .hebergement{
    margin-right: 75px;
}
.li-one .hebergement:hover{
    border-top: 2px solid #0065FC;
    padding-top: 34px;
    color: #0065FC;
}
.li-one .hebergement:focus{
    color: #0065FC;
    padding-top: 34px;
    border-top: 2px solid #0065FC;
}
.li-one .hebergement:active{
    color: #0065FC;
    padding-top: 34px;
    border-top: 2px solid #0065FC;
}
.li-two .activite:hover{
    border-top: 2px solid #0065FC;
    padding-top: 34px;
    color: #0065FC;
}
.li-two .activite:focus{
    border-top: 2px solid #0065FC;
    padding-top: 34px;
    color: #0065FC;
} 
.li-two .activite:active{
    color: #0065FC;
    padding-top: 34px;
    border-top: 2px solid #0065FC;
}

/* FORMULAIRE */
.formu{
    padding-left: 35px;
    padding-top: 35px;
}
.formu h1{
    margin: 0;
}
.formu p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

form{
    margin: 0;
    padding: 0;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    width: max-content;
    height: 50px;
    display: flex;
    align-items: center;
}
input{
    border: none;
    text-align: center;
    width: 230px;
    font-weight: bolder;
}
input:focus{
    outline: 0;
}
input::placeholder{
    color: black;
}

button{
    border: none;
    background-color: #0065FC;
    border-radius: 0px 16px 16px 0px;
    height: 50px;
    width: 140px;
    color: #FFF;
    font-size: large;
}

.responsiv{
    display: none;
}
.icon{
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
}
.icon i{
    color: black;
}

/* LES FILTRES */
.blocFiltre{
    display: flex;
    align-items: center;
}
.blocFiltre p {
    padding: 8px;
    padding-left: 20%;
}

.filtre{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    padding-left: 35px;
}
.mobil{
    display: flex;
    flex-direction: row;
}

.filtre p{
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 100px;
    font-weight: bold;
    transition: ease-out 0.3s;
    margin-left: 0;
    margin-right: 35px;
    padding-left: 45px;
    
}

.filtre p:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}



.filtre i{
    border: 0px solid #F2F2F2;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    background-color: #DEEBFF;
    margin-right: -39px;
    color: #0065FC;
}



.filtre h2{
    margin-right: 30px;
}

/* SECTION INFO, JUSTE EN DESSOUS DES FILTRES */

.info{
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.info i{
    margin-right: 5px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    padding: 8px 11px 8px 11px;
    color: #0065FC;
}

/* Le main et les differentes sections qu'il contient. */
main{
    display: flex;
    flex-direction: row;
    padding-bottom: 1%;
    flex-wrap: wrap;
    padding-left: 35px;
}

/* Section hebergement que j'ai appeler titre */
.titre{
    background-color: #F2F2F2;
    width: 58%;
    border-radius: 25px;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-right: 4%;
}


.finBloc{
    margin-bottom: 4%;
    margin-top: 0;
    font-weight: bolder;
    font-size: larger;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}


i{
    color: #0065FC;
}
/* ce selecteur prends tout les articles ainsi que ceux d'hebergement */
article{
    background-color: white;
    width: 30%;
    border-radius: 25px 25px 25px 25px;
    padding: 1%;
    cursor: pointer;
}
/* Ce selecteur prends uniquement les articles de hebergement */
.article article{
    margin-bottom: 4%;
    box-shadow: 1px 5px 10px 2px rgb(0 0 0 / 33%);
    width: 30%;
    margin-right: -28px;
    height: auto;
}
.descArt{
    margin: 0px;
    margin-top: 4px;
}
.descArt1{
    padding: 0px;
    margin: 0px;
}

.nuitA{
    margin: 0;
    margin-top: 11px;
    margin-bottom: 12px;
}



.iconGray{
    color: #F2F2F2;
}

#iconBlack{
    color: black;
    margin-top: 0px;
}
.img-heber{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit:cover;
    height: 139px;
}

/* SECTION POPULAIRE */
.populaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    /* margin-left: 4%;
    width: 28%; */
    margin-left: 2%;
    width: 31%;
    border-radius: 25px;
}
.titre-populaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 82%;
    padding-top: 20px;
}
.titre-populaire p{
    font-size: x-large;
    font-weight: bolder;
}

.img-pop{
    border-radius: 15px 0 0 15px;
    width: 125px;
    height:calc(99%);
}

.desc{
    margin-left: 5px;
}
/* BLOC CONTENANT LES ARTICLES */
.tout{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-bottom: 9%;
    border-radius: 25px;
    padding: 1%;
    width: 83%;
    box-shadow: 5px 4px 5px -1px rgba(0,0,0,0.33);
    height: 20%;
}
.tout div{
    height: 100%;
}

/* SECTION ACTIVITER */
#activiter{
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    width: 97%;
}

.allCarte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
}



.bis{
    height: 100%;
}
/* Ici la tailles des different articles */
article.carte.pomegue{
    height: 50%;
}
article.carte.frioul{
    height: 36%;
}
article.carte.longchamp {
    height: 45%;
}
article.carte.garde {
    height: 40%;
}
.activ{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92%;
    width: 23%;
}
/* Ici je rajoute calc 100%-55px qui me permet que ma photo fais 100% de son parent, - 55px, peut importe la taille du parent, elle laissera tjr la meme place en bas et la photo prendra toujours 100% -55px du parent */
.act1{
    width: 100%;
    height: calc(100% - 55px);
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.act2{
    width: 100%;
    height: calc(100% - 55px);
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.act3{
    width: 100%;
    height: calc(100% - 55px);
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.act4{
    width: 100%;
    height: calc(100% - 55px);
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.act5{
    width: 100%;
    height: calc(100% - 55px);
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.act6{
    width: 100%;
    height: calc(100% - 55px);
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.carte{
    width: 100%;
    padding: 0;
    box-shadow: 0px 10px 21px -11px black;
    cursor: pointer;
}
.calanque .bold{
    margin-top: 4px;
}
.bold{
    font-weight: bold;
    padding-left: 15px;
    margin: 0;
    margin-top: 10px;
    width: auto;
}

/* Le Footer avec ses 3 sections */
footer{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    padding-bottom: 2%;
}

.propo{
    width: 30%;
    padding-left: 25px;
}

.assist{
    /* padding-right: 241px; */
    width: 30%;
}
.heberge{
    /* padding-right: 105px; */
    width: 30%;
}