@media screen and (max-width: 992px ) {
    body{
        margin: 0;
        padding: 0;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    
    ul{
        margin-right: 30px;
    }
    .filtre{
        width: max-content;
        margin-left: 10px;
    }
    .filtre p{
        margin-left: 0;
        margin-right: 10px;
        padding-left: 40px;
    }
   
    main{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0px;
    }
    .titre{
        width: 55%;
        margin-left: 0;
    }
    .article article{
        height: auto;
    }
    .descArt1{
        margin-top: 24px;
    }
    .populaire{
        width: 35%;
        margin: 0;
    }
    #iconBlack{
        margin-left: 30px;
    }
    #activiter{
        width: 100%;
        padding-top: 3%;
        padding-left: 15px;
    }
    .allCarte{
        justify-content: space-around;
    }
    .carte{
        width: 100%;
        padding: 0;
    }
    footer{
        width: 100%;
    }

    .propo,
    .assist{
        padding-right: 0px;
    }
   
}


